<script lang="ts">
	import Autocomplete from '@smui-extra/autocomplete';
	import Drawer, { AppContent, Content, Header, Scrim, Title } from '@smui/drawer';
	import List, { Separator } from '@smui/list';
	import { appName, AppNames } from './stores';
	export let open = false;
</script>

<Drawer style="top:0;padding-top:180px;" variant="modal" bind:open dir="rtl">
	<Header>
		<Title>Alternatives</Title>
	</Header>
	<Content>
		<List>
			<Separator />
			<Autocomplete
				combobox
				includeInputInList={true}
				showMenuWithNoInput={true}
				options={AppNames}
				bind:value={$appName}
				label="App Name"
			/>
			<Separator />
		</List>
	</Content>
</Drawer>

<Scrim style="background-color: rgba(0, 0, 0, 0);" />
<AppContent class="app-content">
	<slot />
</AppContent>

<style>
</style>
