<script lang="ts">
	import IconButton from '@smui/icon-button';
	import { createEventDispatcher } from 'svelte';

	const dispatch = createEventDispatcher();

	function onClick(event) {
		dispatch('click', event);
	}
</script>

<div class="flexy">
	<div class="margins">
		<IconButton class="material-icons" on:click={onClick} touch>settings</IconButton>
	</div>
</div>

<style>
	.flexy {
		color: lightgrey;
		position: fixed;
		right: 20px;
		bottom: 20px;
	}
</style>
