<script>
	import '@material/mwc-icon/mwc-icon.js';
	import Filter from './Filter.svelte';
	let visible = false;
	let filterTerm = '';
	let showAll = false
	$: {
		filterTerm;
		visible;
		showAll = false;
	}
	let availableFilters = [
		{ title: 'MCU', options: ['ARM Cortex M3', 'RISC-V', 'AVR-8'] },
		{ title: 'Operating Temp.', options: ['-40 to -20C', '0 to 30C', '50 to 70C'] },
		{ title: 'Package', options: ['QFN', 'BGA', 'LQFP'] },
		{ title: 'Power', options: ['0.1 uW', '1  uW', '100W'] },
		{ title: 'Memory', options: ['256KB', '512KB', '1MB'] },
		{ title: 'ADC', options: ['8-bit', '10-bit', '12-bit'] },
		{ title: 'PWM', options: ['8-bit', '10-bit', '12-bit'] },
		{ title: 'UART', options: ['1', '2', '3'] },
		{ title: 'SPI', options: ['1', '2', '3'] },
		{ title: 'I2C', options: ['1', '2', '3'] },
		{ title: 'USB', options: ['No', 'USB 2.0', 'USB 3.0'] },
		{ title: 'Ethernet', options: ['No', '10Mbps', '100Mbps'] },
		{ title: 'Wireless', options: ['No', 'Wi-Fi', 'Bluetooth'] },
		{ title: 'DC-DC Converter Type', options: ['Buck', 'Boost', 'Buck-Boost'] },
		{ title: 'Vout', options: ['3.3V', '5V', '12V'] },
		{ title: 'Efficiency', options: ['Low', 'Medium', 'High'] },
		{ title: 'Switching Frequency', options: ['100kHz', '1MHz', '2MHz'] },
		{ title: 'Vin', options: ['3.3V', '5V', '6V'] },
		{ title: 'Vin Max', options: ['13V', '14V', '33V'] },
		{ title: 'Vin Min', options: ['2.5', '4', '5.5'] }
	];
	$: matchingFilters = availableFilters.filter((f) =>
		f.title.toLowerCase().includes(filterTerm.toLowerCase())
	);

	$: filters = showAll ? matchingFilters.slice() : matchingFilters.slice(0, 4);
</script>

<div>
	<div
		style="cursor:default;"
		on:click={() => {
			visible = !visible;
		}}
	>
		{visible ? '⏷ ' : '⏵ '}Parameters
	</div>
	{#if visible}
		<div>
			<wired-card>
				<input class="filter-input" bind:value={filterTerm} />
				<mwc-icon style="margin-top:10px;">filter_alt</mwc-icon>
			</wired-card>
		</div>
		<div class="filters">
			<div>
				{#each filters as filter (filter.title)}<Filter {...filter} />{/each}
				<div>
					{#if !showAll && matchingFilters.length - 4 > 0}
						<wired-button
							on:click={() => {
								showAll = true;
							}}>{matchingFilters.length - 4} more</wired-button
						>
					{/if}
				</div>
			</div>
		</div>
	{/if}
</div>

<style>
	.filter-input {
		border: none;
		outline: none;
	}
	.filters {
		margin-bottom: 60px;
	}
</style>
