<script>
	export let title = '';
	export let options = [];
</script>

<wired-card class="filter">
	<div>
		{title}
	</div>
	<wired-listbox>
		{#each options as option}<wired-item value={option}>{option}</wired-item>{/each}
	</wired-listbox>
</wired-card>

<style>
	.filter {
		min-width: 140px;
	}
	wired-listbox {
		width: 90%;
	}
</style>
