<script>
	import SearchInput from './SearchInput.svelte';
	import ProjectCardGroup from './ProjectCardGroup.svelte';
	import ProjectList from './ProjectList.svelte';
	let searchTerm = '';
	import { ProjectOverview, projectOverview } from './stores';
</script>

<main>
	<div>
		<SearchInput bind:searchTerm />
		{#if $projectOverview === ProjectOverview.Card}
			<ProjectCardGroup {searchTerm} />
		{:else}
			<ProjectList {searchTerm} />{/if}
	</div>
</main>

<style>
	main {
		padding-top: 100px;
		display: flex;
		justify-content: center;
		width: 100%;
		height: 80vh;
	}
</style>
