<script>
	import ProjectCard from './ProjectCard.svelte';
	import { projects } from './projects';

	export let searchTerm = '';

	$: filteredProjects = projects.filter((p) =>
		p.title.toLowerCase().includes(searchTerm.toLowerCase())
	);
</script>

<div class="project-card-group">
	{#each filteredProjects as project (project.title)}<ProjectCard {...project} />{/each}
</div>

<style>
	.project-card-group {
		display: flex;
		max-width: 1200px;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}
</style>
