<script>
	import ProjectListItem from './ProjectListItem.svelte';
	import { projects } from './projects';

	export let searchTerm = '';

	$: filteredProjects = projects.filter((p) =>
		p.title.toLowerCase().includes(searchTerm.toLowerCase())
	);
</script>

<div class="project-list">
	{#each filteredProjects as project (project.title)}<ProjectListItem {...project} />{/each}
</div>

<style>
	.project-list {
		margin-top: 20px;
		display: flex;
		max-width: 1200px;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}
</style>
