<script>
	import { base } from '$app/paths';
	export let title = '';
	export let slug = '';
</script>

<wired-divider />
<a href={`${base}/p/${slug}`}>
	<div>
		<wired-card class="image" />
	</div>
	<div>
		{title}
		<p style="font-family:Redacted Script;">
			Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print,
			graphic or web designs.
			Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print,
			graphic or web designs.
			Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print,
			graphic or web designs.
		</p>
		<span class="bullet">• </span><span>akjdkajdlkajd</span>
		<span class="bullet">• </span><span>akjdkajdlkajd</span>
		<span class="bullet">• </span><span>akjdkajdlkajd</span>
		<span class="bullet">• </span><span>akjdkajdlkajd</span>
		<span class="bullet">• </span><span>akjdkajdlkajd</span>
	</div>

</a>

<style>
	wired-divider {
		width: 100%;
	}
	a {
		margin-top: 20px;
		color: black;
		display: flex;
		text-decoration: none;
	}
	p, span {
		font-family: Redacted Script;
	}
	.bullet {
		font-family: sans-serif;
		margin-left: 15px;
	}
	.image {
		width: 198px;
		height: 150px;
		margin-right: 20px;
	}
</style>
