<script>
	import '@material/mwc-icon/mwc-icon.js';
	import FilterGroup from './FilterGroup.svelte';
	export let searchTerm = '';
</script>

<div class="search-input">
	<div class="text-input-container">
		<wired-card class="text-input">
			<input type="text" bind:value={searchTerm} />
			<mwc-icon>search</mwc-icon>
		</wired-card>
		<FilterGroup />
	</div>
</div>

<style>
	.search-input {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		min-width: 800px;
	}
	.text-input-container {
		width: 85%;
		max-width: 800px;
	}
	.text-input {
		width: 100%;
	}
	mwc-icon {
		margin-top: 10px;
	}
	input {
		font-size: 24px;
		width: 94%;
		height: 40px;
		border: none;
		outline: none;
	}
</style>
