<script lang="ts">
	import { browser } from '$app/environment';
	import { goto } from '$app/navigation';
	import { base } from '$app/paths';
	import { appName } from '$lib/stores';
	import { Icon } from '@smui/icon-button';
	import { annotate } from 'rough-notation';
	import { onMount } from 'svelte';

	if (browser) {
		onMount(() => {
			const link = document.querySelector('#link');
			const annotation = annotate(link, { type: 'box', color: '#90ee90' });
			setTimeout(() => {
				annotation.show();
			}, 2000);
		});
	}

	function randomString(anysize) {
		const charset = 'abcdefghijklmnopqrstuvwxyz';
		let res = '';
		while (anysize--) res += charset[(Math.random() * charset.length) | 0];
		return res;
	}

	const randomStrings1 = Array.from({ length: 20 }, () => 10 + Math.floor(Math.random() * 20)).map(
		randomString
	);
	const randomStrings2 = Array.from({ length: 20 }, () => 10 + Math.floor(Math.random() * 20)).map(
		randomString
	);
	const randomStrings = randomStrings1.map((x, i) => [x, randomStrings2[x]]);
</script>

<div style="overflow:hidden; display:flex; max-width:99vw;  max-height:98vh;">
	<div style="flex-grow:1; min-width:65vw;">
		<wired-card class="window">
			<div style="width:100%; display:flex; justify-content:space-between;">
				<div style="margin-left: 10px; font-size: 18pt">
					{$appName || 'Git PDM'}
				</div>
				<div>
					<wired-icon-button on:click={() => goto(`${base}/blank`)}
						><Icon class="material-icons">close</Icon></wired-icon-button
					>
				</div>
			</div>
			<wired-divider />
			<div style="display:flex; height:85vh">
				<wired-card class="pane">
					<h3>Add a Project</h3>
					<div style="display:flex; align-items:center">
						<ul>
							<li>
								<wired-button>
									<mwc-icon>folder_open</mwc-icon>
									Browse</wired-button
								>
							</li>
							<li>
								<wired-button>
									<mwc-icon>add</mwc-icon>
									Create New</wired-button
								>
							</li>
							<li>
								<div>
									<wired-button title="Clone repository and set up auto-syncing">
										<mwc-icon>sync</mwc-icon>
										sync existing project
									</wired-button>
								</div>
							</li>
						</ul>
					</div>
				</wired-card>
				<wired-card class="pane">
					<h3>Your Projects</h3>
					<wired-card style="width:90%; height:80vh;">
						<div style="height:74vh; overflow: hidden;">
							<div>
								<!-- target="_self" solves a weird issue with wired-tabs, they
								don't appear without it or full page refresh after navigating -->
								<a id="link" sveltekit:reload target="_self" href="{base}/app-view-1/">
									<mwc-icon>folder</mwc-icon>
									donut_cube
									<span style="font-size: 10px">{'<-> github.com / otfn / donut_cube'}</span>
								</a>
							</div>
							<div>
								<mwc-icon>folder</mwc-icon>
								<span style="font-family:Redacted Script;"
									>not_donut_cube
									<span style="font-size: 10px"
										><span style="font-family:Gloria Hallelujah">{'<-> gitlab.com / '}</span
										>{'otfn '}
										<span style="font-family:Gloria Hallelujah">{' / '}</span>
										{'donut_cube'}
									</span>
								</span>
							</div>
							<div>
								<mwc-icon>folder</mwc-icon>
								<span style="font-family:Redacted Script;"
									>docskjdljklajdube
									<span style="font-size: 10px"
										><span style="font-family:Gloria Hallelujah"
											>{'<-> gitlab.fabcity.hamburg / '}</span
										>{'otfn '}
										<span style="font-family:Gloria Hallelujah">{' / '}</span>
										{'donut'}
									</span>
								</span>
							</div>
							{#each randomStrings as [r1, r2]}
								<div>
									<mwc-icon>folder</mwc-icon>
									<span style="font-family:Redacted Script;"
										>{r1}
										<span style="font-size: 10px"
											><span style="font-family:Gloria Hallelujah">{'<-> '}</span>
											<span style="font-family:Redacted Script">{' / '}</span>{'otfn '}
											<span style="font-family:Gloria Hallelujah">{' / '}</span>
											{r2}
										</span>
									</span>
								</div>
							{/each}
						</div>
					</wired-card>
				</wired-card>
			</div>
		</wired-card>
	</div>
</div>

<style>
	.pane {
		width: 50%;
		overflow: hidden;
	}
	a {
		color: black;
		text-decoration: none;
	}
	.window {
		width: 95%;
		height: 95vh;
		overflow: hidden;
	}
	wired-divider {
		width: 100%;
	}
	li {
		margin-bottom: 10px;
	}

	input {
		border: none;
		outline: none;
	}
</style>
