<script>
	import AlternativesButton from '$lib/AlternativesButton.svelte';
	import AlternativesDrawer from '$lib/AlternativesDrawer.svelte';
	import { onMount } from 'svelte';
	// importing it onMount to avoid errors about duplicate custom elements
	// (not sure why they appear though)
	onMount(() => {
		import('$vendor/wired-elements/src/wired-elements');
		import('@material/mwc-icon/mwc-icon.js');
	});

	let drawerOpen = false;
</script>

<!-- this is the second <body> in the document but for some reason some
	wired-elements disappear if we use a div instead -->
<body>
	<AlternativesDrawer bind:open={drawerOpen}>
		<slot />
		<AlternativesButton on:click={() => (drawerOpen = !drawerOpen)} />
	</AlternativesDrawer>
</body>

<style>
	a {
		color: black;
		text-decoration: none;
	}
	body {
		font-family: 'Gloria Hallelujah', cursive;
		font-size: 16px;
	}
	:global(input) {
		font-family: 'Gloria Hallelujah', cursive;
		font-size: 16px;
	}
</style>
