<script lang="ts">
	import { assets, base } from '$app/paths';
	import { Icon } from '@smui/icon-button';
	import { appName } from '$lib/stores';
</script>

<div style="overflow:hidden; display:flex; max-width:99vw;  max-height:98vh;">
	<div style="flex-grow:1; min-width:65vw;">
		<wired-card class="window">
			<div style="width:100%; display:flex; justify-content:space-between;">
				<div style="margin-left: 10px; font-size: 18pt">
					{$appName || 'Git PDM'}
				</div>
				<div><wired-icon-button><Icon class="material-icons">close</Icon></wired-icon-button></div>
			</div>
			<wired-divider />
			<div style="display:flex; align-items:center; justify-content:center; height:85vh">
				<a href="{base}/select-project/">
					<div style="display:flex; flex-direction:column; align-items:center;">
						<wired-card class="login-button">
							<div class="login-button-inner">
								<img src="{assets}/github.svg" />
								<div class="login-button-text">Log in with GitHub</div>
							</div>
						</wired-card>
						<wired-card class="login-button">
							<div class="login-button-inner">
								<img src="{assets}/gitlab.svg" />
								<div class="login-button-text">Log in with GitLab</div>
							</div>
						</wired-card>
						<wired-card class="login-button">
							<div class="login-button-inner">
								<img src="{assets}/fabcity.svg" />
								<div class="login-button-text">Log in with gitlab.fabcity.hamburg</div>
							</div>
						</wired-card>
					</div>
				</a>
			</div>
		</wired-card>
	</div>
</div>

<style>
	a {
		color: black;
		text-decoration: none;
	}
	.window {
		width: 95%;
		height: 95vh;
		overflow: hidden;
	}
	wired-divider {
		width: 100%;
	}
	img {
		width: 32px;
	}
	.login-button-inner {
		cursor: pointer;
		user-select: none;
		width: 100%;
		display: flex;
		align-items: center;
	}
	.login-button-text {
		margin-left: 20px;
	}
	.login-button {
		cursor: pointer;
		user-select: none;
		width: 100%;
	}
</style>
