<script lang="ts">
	import { onMount } from 'svelte';
	import { browser } from '$app/environment';
	import { assets, base } from '$app/paths';
	import { appName } from '$lib/stores';
	import InlineSVG from '$vendor/InlineSvg/InlineSvg.svelte';
	import { Icon } from '@smui/icon-button';
	import { goto } from '$app/navigation';
	let syncIcon = 'autorenew';
	onMount(() => {
		setTimeout(() => {
			syncIcon = 'sync';
		}, 700);
		setTimeout(() => {
			syncIcon = 'autorenew';
		}, 1400);
		setInterval(() => {
			syncIcon = 'sync';
			setTimeout(() => {
				syncIcon = 'autorenew';
			}, 700);
		}, 4000);
	});

	let historyNodeNumber = 0;
	let freecadChanged = false;
	let committed = false;

	let stls = [];
	$: stls =
		historyNodeNumber === 0
			? [
					{ name: 'assembly.FCStd', file: 'donut_cube.stl', left: 120, top: 0 },
					{
						name: 'donut.FCStd',
						file: freecadChanged ? 'donut_spiked.stl' : 'donut.stl',
						left: 0,
						top: 250,
						changed: !committed && freecadChanged
					},
					{ lockedBy: 'timm', name: 'cube.FCStd', file: 'cube.stl', left: 0, top: 510 },
					{
						lockedBy: 'jstirling',
						name: 'motor_driver_case.scad',
						file: 'motor_driver_case.stl',
						left: 320,
						top: 250
					},
					{ name: 'ulx3s.kicad_pcb', file: 'ulx3s.stl', left: 320, top: 550 }
			  ]
			: [
					{ name: 'assembly.FCStd', file: 'donut_t.stl', left: 120, top: 0 },
					{
						name: 'donut.FCStd',
						file: 'donut.stl',
						left: 0,
						top: 250
					},
					{ lockedBy: 'timm', name: 't_shape.FCStd', file: 't_shape.stl', left: 0, top: 510 },
					{
						lockedBy: 'jstirling',
						name: 'motor_driver_case.scad',
						file: 'motor_driver_case.stl',
						left: 320,
						top: 250
					},
					{ name: 'ulx3s.kicad_pcb', file: 'ulx3s.stl', left: 320, top: 550 }
			  ];
	let stlsFetched;
	if (browser) {
		stlsFetched = Promise.all(stls.map(({ file }) => fetch(`${assets}/${file}`)));
	}
</script>

<div style="overflow:hidden; display:flex; max-width:99vw; max-height:98vh;">
	<div style="flex-grow:1; min-width:65vw;">
		<wired-card class="window">
			<div style="width:100%; display:flex; justify-content:space-between;">
				<div style="margin-left: 10px; font-size: 18pt">
					{$appName || 'Git PDM'}
				</div>
				<div>
					<wired-icon-button on:click={() => goto(`${base}/blank`)}
						><Icon class="material-icons">close</Icon></wired-icon-button
					>
				</div>
			</div>
			<wired-divider />
			<div style="display:flex;">
				<div
					style="border-right: 1px solid black; padding: 20px; width:400px; display:flex; flex-direction:column; :center; max-height:85vh"
				>
					<div style="margin-bottom: 30px;">
						<div style="display:flex;">
							{#if syncIcon === 'autorenew'}
								<wired-icon-button>
									<mwc-icon>{syncIcon}</mwc-icon>
								</wired-icon-button>
							{:else}
								<wired-icon-button>
									<mwc-icon>{syncIcon}</mwc-icon>
								</wired-icon-button>
							{/if}
							<div style="margin-left:10px">github.com / otfn / donut_cube</div>
						</div>
						<wired-divider elevation={2} />
					</div>
					{#if !committed}
						<InlineSVG
							on:click={() => (historyNodeNumber = (historyNodeNumber + 1) % 2)}
							width="100%"
							src="{base}/git-history{historyNodeNumber}{freecadChanged ? '_changed' : ''}.svg"
						/>
					{:else}
						<InlineSVG
							on:click={() => (committed = false)}
							width="100%"
							src="{base}/git-history_committed.svg"
						/>
					{/if}
				</div>
				<div style="width:70%; display:flex;">
					<wired-tabs selected="Files">
						<div style="min-width:1000px" />
						<wired-tab name="Files">
							<div style="min-width:1000px" />
							<mwc-icon>folder</mwc-icon>
							donut_cube
							<ul>
								<li style="font-family:Redacted Script">
									<mwc-icon>folder</mwc-icon>
									ksajdlajsdlkjalkdjald
								</li>
								<li style="font-family:Redacted Script">
									<mwc-icon>folder</mwc-icon>
									lajsdlkjalkdjald
								</li>
								<li>
									<wired-card>
										<mwc-icon>description</mwc-icon>
										assembly.FCStd
									</wired-card>
								</li>
								{#each stls.slice(1) as stl (stl.file)}
									<li>
										<div style="display:flex">
											<mwc-icon>description</mwc-icon>
											{stl.name}
											{#if stl.changed}<span style="font-size:16pt">*</span>{/if}
											{#if stl.lockedBy}
												<div style="margin-left:10px;display:flex; align-items:center;">
													<Icon class="material-icons">lock</Icon>{stl.lockedBy}
												</div>
											{/if}
										</div>
									</li>
								{/each}
								{#each stls as stl (stl.file + '-redacted')}
									<li style="font-family:Redacted Script">
										<mwc-icon>description</mwc-icon>
										{stl.name}
									</li>
								{/each}
							</ul>
							<wired-divider />
							<div style="display:flex">
								<wired-card style="width:45%">
									<ul>
										<li>Locked by: {'<no one>'}</li>
										<li>
											Changes: <ul>
												<li>
													11 / 12 / 22
													<span style="font-family:Redacted Script;">askjdlkajdlkaakds;lakd</span>
												</li>
												<li>
													10 / 12 / 22
													<span style="font-family:Redacted Script;">askjdlkajdlkaakds;lakd</span>
												</li>
												<li>
													26 / 11 / 22
													<span style="font-family:Redacted Script;"
														>askjdladasddlkauiuiiakds;lakd</span
													>
												</li>
												<li>
													<span style="font-family:Redacted Script;">adlkajdlkaakds;lakd</span>
												</li>
												<li>
													<span style="font-family:Redacted Script;">adlkajdlkaakds;lakd</span>
												</li>
												<li>
													<span style="font-family:Redacted Script;"
														>assdkjaskjkjdlkajdlkaakds;lakd</span
													>
												</li>
											</ul>
										</li>
									</ul>
								</wired-card>

								<div
									style="width:300px; border:1px solid black; display:flex; justify-content: center; align-items: center;"
								>
									{#await stlsFetched then}
										{#each stls.slice(0, 1) as stl (stl.file)}
											<div>
												<gb3d-viewer src="{assets}/{stls[0].file}" show-filelink="false" />
												{stls[0].file}
											</div>
										{/each}
									{/await}
								</div>
							</div>
						</wired-tab>
						<wired-tab name="Assemblies">
							<div class="assembly-tree">
								<img alt="assembly tree background" src="{assets}/assembly-tree.svg" />
								{#await stlsFetched then}
									{#each stls as stl (stl.file)}
										<div style="position: absolute; left:{stl.left}px; top:{stl.top}px;">
											<div style="width:100%; display:flex; justify-content:end;">
												<div>
													{#if stl.lockedBy}
														<div
															style="background:rgba(255,255,255,0.8); padding-top:5px; width:100%; display:flex; justify-content:end;"
														>
															<Icon class="material-icons">lock</Icon>{stl.lockedBy}
														</div>
													{/if}
													<div style="background:rgba(255,255,255,0.8); padding-left:10px;">
														{#if stl.changed}<span style="font-size:16pt">*</span>{/if}
														{stl.name}
													</div>
												</div>
											</div>
											<div style="width:200px; height:200px; border:1px solid black;">
												<gb3d-viewer src="{assets}/{stl.file}" show-filelink="false" />
											</div>
										</div>
									{/each}
								{/await}
							</div>
						</wired-tab>
					</wired-tabs>
					<div style="position:absolute;right:0px;top:61px;{freecadChanged ? '' : 'opacity:0.3'}">
						<wired-card class="text-input">
							<input
								disabled={!freecadChanged}
								type="text"
								placeholder={freecadChanged ? 'Update donut.FCStd' : ''}
							/>
						</wired-card>
						<wired-button
							on:click={() => {
								if (freecadChanged) {
									committed = !committed;
								}
							}}
							disabled={!freecadChanged}>commit changes</wired-button
						>
					</div>
				</div>
			</div>
		</wired-card>
	</div>
	<wired-card>
		<div
			style="flex-shrink:1; cursor:pointer;"
			on:click={() => {
				freecadChanged = !freecadChanged;
				committed = false;
			}}
		>
			<div style="width:100%; display:flex; justify-content:space-between;">
				<div style="margin-left: 10px; font-size: 18pt">freeCAD</div>
				<div>
					<wired-icon-button on:click={() => goto(`${base}/blank`)}
						><Icon class="material-icons">close</Icon></wired-icon-button
					>
				</div>
			</div>
			<wired-divider />
			<img alt="freecad screenshot" src="{assets}/freecad{freecadChanged ? '2' : ''}.png" />
		</div>
	</wired-card>
</div>

<style>
	img {
		pointer-events: all;
	}
	gb3d-viewer {
		width: 200px;
		height: 200px;
	}
	.assembly-tree {
		margin-top: 20px;
		width: 550px;
		margin-left: 100px;
		position: relative;
		height: 87vh;
		overflow: hidden;
	}
	wired-tab {
		width: 100%;
	}
	wired-tab {
		width: 100%;
		height: 87vh;
	}
	.window {
		width: 95%;
		height: 95vh;
		overflow: hidden;
	}
	wired-divider {
		width: 100%;
	}
	input {
		height: 30px;
		border: none;
		outline: none;
	}
</style>
