<script lang="ts">
	import { goto } from '$app/navigation';
	import { base } from '$app/paths';

	import { onMount } from 'svelte';

	onMount(() => {
		setTimeout(() => {
			goto(base);
		}, 1000);
	});
</script>

<style>
</style>
