@use 'sass:color';

@use '@material/theme/color-palette';

// Svelte Colors! (Dark Theme)
@use '@material/theme/index' as theme with (
	$primary: #ff3e00,
	$secondary: color.scale(#676778, $whiteness: -10%),
	$surface: color.adjust(color-palette.$grey-900, $blue: +4),
	$background: #000,
	$error: color-palette.$red-700
);

aside {
	background-color: #000;
	color: theme.$on-surface;
	a {
		color: #40b3ff;
	}
	a:visited {
		color: color.scale(#40b3ff, $lightness: -35%);
	}
}
